/* .Word{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border:1px solid black;
    padding: 5px;
    margin: 10px;
    word-break: break-all;
    
}

 */
.Word{
    border:1px solid black;
    padding: 5px;
    margin: 10px;
    word-break: break-all;
}

 .Word div{
    display: inline-block;
    width: 40%;
    padding: 2px;
    border:1px solid black;
    margin: 3px;
    word-break: break-all;
    text-align: left;
 }


 .Word:hover{
     background-color: rgb(165, 142, 180);
 }
