.profile-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10;
  width: 60%;
  margin: 0 auto;
}

.profile-content .profile-left, .profile-content .profile-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
