.Navigation{
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

.Navigation nav{
    flex-grow: 1;
}
.Navigation header{
    display: flex;
    justify-content: center;
    width: 100vw;
    align-items: center;
    
}


.Navigation ul{
    list-style: none;
    margin:0;
    padding: 0;
    justify-content: center;
}


.Navigation ul{
    list-style: none;
    margin:0;
    padding: 0;
    width: 100%;
    text-align:center;
}

.Navigation li{
    display: inline-block;
    margin: 20px;
}

.Navigation nav a{
    text-decoration: none;
    color:black;
}



.Navigation nav a:hover,
.Navigation nav a:active,
.Navigation nav a.active{
    color: #dfa916;
    border-bottom: 1px solid #dfa916;
}