.Navigation{
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

.Navigation ul{
    list-style: none;
    margin:0;
    padding: 0;
    justify-content: center;
}


.Navigation ul{
    list-style: none;
    margin:0;
    padding: 0;
    width: 100%;
    text-align:center;
}

.Navigation li{
    display: inline-block;
    margin: 20px;
}

.Navigation a{
    text-decoration: none;
    color:black;
}
.Navigation a:hover,
.Navigation a:active,
.Navigation a.active{
    color: #dfa916;
    border-bottom: 1px solid #dfa916;
}