.Sections{
    margin: auto;
    border: 1px solid black;
    display: flex;
    height: 75vh;
    box-sizing: border-box;
    margin: 5px;
}

.Sections .Tree{
    border:1px solid black;
    width: 25%;
    overflow-y: auto;
}

.Sections .Content{
    width: 75%;
    border:1px solid black;
    overflow-y: auto;
   
}

.Sections .Content .content-navigation{
    display: flex;
    flex-flow: row;
}
.Sections .Content .content-navigation .button{
    border:1px solid black;
    margin: 3px;
    padding: 3px;
}
